body {
    font-family: 'Helvetica Neue', 'Arial', 'Times New Roman';
    padding: 0;
    margin: 0;
}

header {
    height: 70px;
    line-height: 70px;
    background-color: orangered;
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 200;
    letter-spacing: 3px;

    -webkit-box-shadow:  0 4px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);

    -webkit-transform: translate3d(0, -80px, 0);
    -moz-transform: translate3d(0, -80px, 0);
    -ms-transform: translate3d(0, -80px, 0);
    -o-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
}

header.active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.wrapper {
    opacity: 0;
    padding: 20px 15px;

    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    -o-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
}

body.active header {
    -webkit-transition: all 300ms ease-out 50ms;
    -moz-transition: all 300ms ease-out 50ms;
    -ms-transition: all 300ms ease-out 50ms;
    -o-transition: all 300ms ease-out 50ms;
    transition: all 300ms ease-out 50ms;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

body.active .wrapper {
    opacity: 1;

    -webkit-transition: all 300ms ease 300ms;
    -moz-transition: all 300ms ease 300ms;
    -ms-transition: all 300ms ease 300ms;
    -o-transition: all 300ms ease 300ms;
    transition: all 300ms ease 300ms;

    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

